img {
  border: 3px solid #ececec;
  max-width: 100%;
}

.svg {
  background-color: var(--bg-code);
  padding: 0.1em 0.2em;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 0.5em;
  max-width: calc(100% - 2em);
  display: block;
  margin: auto;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure h4::before {
  content: "↳ ";
}

svg {
  max-height: 15px;
}
